In [1]:
import pandas as pd
import openpyxl
import mysql.connector

In [2]:
df = pd.read_excel(r"C:\Users\Harish\Documents\Py to sql.xlsx")

In [3]:
df

   Client_number  Project_number                Address
0              1              11  no.1 1st cross street
1              2              22  no.2 2nd cross street
2              3              33  no.3 3rd cross street

In [5]:
import mysql.connector
import pandas as pd
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Harish_4623",
    database="ex"
)
if mydb.is_connected():
    mycursor = mydb.cursor()
    excel_data = pd.read_excel(r"C:\Users\Harish\Documents\Py to sql.xlsx")
    for index, row in excel_data.iterrows():
        Client_number = row['Client_number']
        Project_number = row['Project_number']
        Address = row['Address']
        sql_query = "INSERT INTO client (Client_number, Project_number, Address) VALUES (%s, %s, %s) ON DUPLICATE KEY UPDATE Project_number = VALUES(Project_number), Address = VALUES(Address)"
        record = (Client_number, Project_number, Address)
        mycursor.execute(sql_query, record)
    mydb.commit()
    print("Records inserted or updated successfully")
    mycursor.close()
    mydb.close()
    print("Connection to MySQL database closed.")
else:
    print("Connection to MySQL database failed.")

Records inserted or updated successfully
Connection to MySQL database closed.